body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #21272E;
    width: 100%;
    height: 80px;
    display: block; 
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.footer {
  background-color: #21272E;
  width: 100%;
  height: 80px;
  margin-top: -80px;
  display: block; 
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  position: relative;
  clear: both;
  left: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  
}

.inner_footer {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container h1{
    color: white;
    height: 100%;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.logo_container_footer h1{
  color: white;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  font-size: 32px;
  padding-top: 19px;
  font-family: 'Montserrat', sans-serif;
}


.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 20px;
}

h3 { 
    font-size: 17px;
  }

h4 { 
    font-size: 1.3rem;
    position: relative;
    left: 30px;
}  




#imageList {
    font-size: 0px;
    width: 1140px;
    margin: 0 auto;
    margin-top: -2%;
}

#imageList a {
    margin: 2px;
    border: 3px solid transparent;
    display: inline-block;
}

#imageList a:hover {
    border-color:	#000000;
}

footer {
    background-color: #21272E;
    width: 100%;
    height: 50px;
}

.postbutton {
    text-align: center;
}

.btn-dark {
    margin-top:10px;
}
.btn-secondary  {
  margin-left: 65%;
} 



/* Modal submit */

.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 900px;
    max-height: 80;
    max-width: 80%;
  }


  .modal1.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: thin dashed rgba(0,0,0,.24);
    background: #f5f5f5;
  }

  .modal-image {
    justify-content: space-between;
    z-index: 3;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    position: absolute;
    left: 53.7rem;
    top: -0.5rem;
    z-index: 10;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  /* Modal post */

  .modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 900px;
    max-height: 80;
    max-width: 80%;
  }

  .modal-header2 {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: thin dashed rgba(0,0,0,.24);
    background: #f5f5f5;
  }

  .modal-image {
    justify-content: space-between;
    z-index: 3;
  }
  
  .modal-header2 .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header2 .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    position: absolute;
    left: 53.7rem;
    top: -0.5rem;
    z-index: 10;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay2 {
    position: fixed;
    opacity: 1;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
.goal-dual {
  display: flex;
  flex-wrap: wrap;
  top: 20%;
  left: 20%;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-top: 70px;
  height: 100%;
  padding-left: 10%;
}

#imagegoal1 {
  width: 300px;
  height: 300px;
  padding-right: 5%;

}

.content-container {
  width: 60%;
  padding-left: 10%;
}
